/*Fondo de la pantalla*/
body{
    background: url(../img/portada2.jpg) no-repeat center center fixed;
    background-size: cover;
}
/*Diseño de la caja donde se almacena las cjas de texto*/
.estilo{
    background: rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgb(0, 0, 0, 0.568);
    color: white;
}

/*Diseño del boton*/
.ingresar{
    background: #eccc15;
    padding: 10px;
    font-size: 18px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 60px rgba(243, 49, 49, 0.568);
    transition: 0.5s ease-in;
}
.ingresar:hover{
    color: white;
} 

/*Diseño de las cajas de texto */
.form-control{
    background: rgba(0, 0, 0, .3);
    border-style: none;
    transition: .4s ease-in;
}

.Registrar{
    color: wheat;
    /*text-decoration: none;*/
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    font-weight: 700!important;
}
